header {
  background-color: #ffffff;
  padding: 20px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

header h5 {
  font-weight: 500;
  font-size: 22px;
}

.listing {
  margin-top: 40px;
}

.listBox {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.11);
  border-radius: 11px;
  padding: 40px;
  margin-bottom: 20px;
  overflow: hidden;
}
.noList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
  margin-top: 30px;
  background: #f8f8f8;
  border: 1px dashed #c9c9c9;
  box-sizing: border-box;
  border-radius: 11px;
}
.noList p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.roundIcon {
  display: inline-flex;
  background: #53a451;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 50%;
}
.roundIcon:hover {
  opacity: 0.9;
  cursor: pointer;
}
small {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;

  color: #2f7ef7;
}
a {
  color: #000;
}
a:hover {
  text-decoration: none;
}
.noBg {
  background: none;
  outline: none;
  border: none;
  display: contents;
}

.floatingActionButton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #17a2b8;
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 100%;
  padding-top: 14px;
}

.floatingActionButton h1 {
  color: white;
}
